html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: #233446;
}

body, form {
    display: flex;
    flex-direction: column;
    color: #233446;

}

a {
    display: flex;
    text-decoration: none;
    color: #233446;
    text-align: center;
    align: center;
}

nav {
    font-size: 32px;
    line-height: 2.5;
    /*display: flex;*/
    flex-direction: row;
    color: #233446;
}

.round_corner_box {
    align-content: center;
    display: flex;
    max-width: 100pt;
    border-radius: 12px;
    background-color: #B8C0CF;
    color: #233446;
}

.basic_layout {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #233446;
}

.box {
    margin: 0;
    padding-right: 30pt;
    padding-left: 30pt;
    display: inherit;
    width: 100%;
    justify-content: space-between;
    color: #233446;
}

.box_link {
    text-decoration: none;
    color: #B8C0CF;
}

.inner_layout {
    display: table-row;
    align-items: center;
    color: #233446;
}

.button {
    border-radius: 15px;
    border: 5px;
    font-family: 'Roboto Mono', monospace; /* Is needed for Submit button...*/
    resize: nsone;
    color: #233446;
}

.inner_input input{
    color: #233446;
    border: 8px;
    font-family: 'Roboto Mono', monospace; /* Is needed for Submit button...*/
    font-size: 15px;
    background-color: #B8C0CF;
}

.exit {
    color: #B8C0CF;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10pt;
    margin-right: 20pt;
    align-self: flex-end;
}



