{% include 'partials/upperbody.html' %}

<a class="exit" href="{% url 'cronjob:home' %}"><strong>Quit</strong></a>

<section class="basic_layout">
    <div class="inner_layout">

    <h2>Create Cron Job</h2>

        <form class="inner_input" method="post" action="{% url 'cronjob:createCronJob' %}">
            {% csrf_token %}

            <section>
                <h3>Title, Address</h3>
                {% for tag in title %}
                    {{ tag.label_tag }}
                    {{ tag }}
                {% endfor %}
            </section>

            <section>

                {% for form in authenticate %}
                    {% ifequal form.id_for_label 'id_box' %}
                        <h3>{{ form }} {{ form.label_tag }}</h3>
                    {% else %}
                        {{ form.label_tag }}<br>
                        {{ form }}
                        <br><br>
                    {% endifequal %}
                {% endfor %}

            </section>

            <section>

                <h3>Time to run</h3>
                <label>
                    <input type="radio" name="id_times" value="minutes" required>
                    {{ minutes }} minute(s)
                </label>
                <br>
                <label>
                    <input type="radio" name="id_times" value="hours" required> Every day at
                    {{ hours.every_hour }} : {{ hours.every_minute }}
                </label>
                <br>
                <label>
                    <input type="radio" name="id_times" value="days" required> Every month
                    {{ days.every_month_day }} at {{ days.every_hours_day }} : {{ days.every_minute_day }}
                </label>
                <br>
                <label>
                    <input type="radio" name="id_times" value="user_defined" required>
                    {{ user_defined }}
                </label>
            </section>

            <section>

                <h3>Message</h3>
                <div>
                    {{ user_message.failed_job }}
                    <label for="{{ user_message.failed_job.id_for_label }}">Failed Job</label>
                </div>
                <div>
                    {{ user_message.successful_job }}
                    <label for="{{ user_message.successful_job.id_for_label }}">Successful Job</label>
                </div>
                <div>
                    {{ user_message.stop_job }}
                    <label for="{{ user_message.stop_job.id_for_label }}">Automatically stop the job if to many failures happen</label>
                </div>

            </section>

{#            <section>#}
                <h3>General</h3>
                <div>
                    {{ general.will_save_message }}
                    <label for="{{ general.will_save_message.id_for_label }}">Save message</label>
                </div>
{#            </section>#}
            <br>

            <strong><p>By submitting you submit to the cron police.</p></strong>
            <input class="button" name="input" type="submit" value="Make Cron-Job">

        </form>

    </div>
</section>
{% include 'partials/lowerbody.html' %}