<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Cron</title>
    {% load filters %}
</head>
<body>

    <form method="post">
        {% csrf_token %}

        <section>
            <h2>Title, Address</h2>
            {{ title }}
        </section>

        <section>
            {# TODO: Make it so that if not set, no input possible #}
            <div><h2>{{ authenticate.box }} Needs HTTP-Authentication</h2></div>
            <div>
                {{ authenticate.username.label_tag }}
                {{ authenticate.username }}
            </div>
            <br>
            <div>
                {{ authenticate.password.label_tag }}
                {{ authenticate.password }}
            </div>
        </section>

        <section>

            <h2>Time to run</h2>
            <label>
                <input type="radio" name="id_times" value="minutes" required>
                {{ minutes }} minute(s)
            </label>
            <br>
            <label>
                <input type="radio" name="id_times" value="hours" required> Every day at
                {{ hours.every_hour }} : {{ hours.every_minute }}
            </label>
            <br>
            <label>
                <input type="radio" name="id_times" value="days" required> Every month
                {{ days.every_month_day }} at {{ days.every_hours_day }} : {{ days.every_minute_day }}
            </label>
            <br>
            <label>
                <input type="radio" name="id_times" value="user_defined" required> User defined
            </label>
        </section>

        <section>

            <h2>Message</h2>
            <div>
                {{ user_message.failed_job }}
                <label for="{{ user_message.failed_job.id_for_label }}">Failed Job</label>
            </div>
            <div>
                {{ user_message.successful_job }}
                <label for="{{ user_message.successful_job.id_for_label }}">Successful Job</label>
            </div>
            <div>
                {{ user_message.stop_job }}
                <label for="{{ user_message.stop_job.id_for_label }}">Automatically stop the job if to many failures happen</label>
            </div>

        </section>

        <section>
            <h2>General</h2>
                <div>
                    {{ general.will_save_message }}
                    <label for="{{ general.will_save_message.id_for_label }}">Save message</label>
                </div>
        </section>
        <br>
        <section>

            <p></p>
            <input name="input" type="submit" value="Make Cron-Job">

        </section>
    </form>

</body>
</html>