{% include 'partials/upperbody.html' %}

<a class="exit" href="{% url 'cronjob:home' %}"><strong>Quit</strong></a>

<section class="basic_layout">
    <div class="inner_layout">

        <h1>Register new User</h1>

        <form class="inner_input" method="post" action="{% url 'cronjob:register' %}">
            {% csrf_token %}
            {% for form in user_creation_form %}
                {{ form.label }}<br>
                {{ form }}<br>
            {% endfor %}
            <br>
            <input class="button" type="submit" value="Register">
        </form>

    </div>
</section>

{% include 'partials/lowerbody.html' %}