{% extends 'cronjob/cronbase.html' %}
{% block title %}Cron Login{% endblock title %}
{% block content %}
    <a class="exit" href="{% url 'cronjob:home' %}" xmlns="http://www.w3.org/1999/html"><strong>Quit</strong></a>

    <section class="basic_layout">
        <div class="inner_layout">
            <p>{{ error }}</p>
            <h1>Cron Login</h1>

            <form class="inner_input" method="post" action="{% url 'cronjob:userLogin' %}">
                {% csrf_token %}
                    {% for login in user_login %}
                        {{ login.label }}<br>
                        {{ login }}<br>
                    {% endfor %}
                <br><br>
                <input class="button" type="submit" value="Login">
            </form>

        </div>

    </section>
{% endblock %}
