<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Cron</title>
    {% load filters %}
</head>
<body>

    <form  method="post" >
        {% csrf_token %}

        <section>
            <h2>Title, Address</h2>
            {{ title }}
        </section>

        <section>
            {# TODO: Make it so that if not set, no input possible #}
            <div><h2>{{ authenticate.box }} Needs HTTP-Authentication</h2></div>
            <div>{{ authenticate.username }}</div>
            <br>
            <div>{{ authenticate.password }}</div>
        </section>

        <section>

            <h2>Time to run</h2>
            <label>
                <input type="radio" name="times" value="{{ minute }}">Every
                <select name="minute" id="times">
                     {% for _ in 60|intRange %}
                         <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                     {% endfor %}
                </select> minute(s)
            </label><br>

            <label>
                <input type="radio" name="times" value="{{ day }}">Every day at
                <input type="time" name="times" value="{{ hours }}">
            </label><br>

            <label>
                <input type="radio" name="times" value="{{ month }}">Every month
                <select name="month">
                    {% for i in 27|intRange %}
                        <option value="{{ i }}">{{ forloop.counter }}.</option>
                    {% endfor %}
                </select> at
                <input type="time" name="hours" value="{{ hours }}">
            </label><br>

            <label>
                <input type="radio" name="times" value="{{ userDefined }}">User defined
            </label>

        </section>

        <section>
            <h2>Message</h2>
            <div>
                <input id="failedJobsLabel" type="checkbox" name="messages" value="0">
                <label for="failedJobsLabel">Failed Jobs</label>
            </div>
            <div>
                <input id="successfulJobsLabel" type="checkbox" name="messages" value="1">
                <label for="successfulJobsLabel">Successful Jobs</label>
            </div>
            <div>
                <input id="stopJobLabel" type="checkbox" name="messages" value="2">
                <label for="stopJobLabel">Automatically stop the job if to many failures</label>
            </div>
        </section>

        <section>
            <h2>General</h2>
                <input id="saveMessageLabel" type="checkbox" name="saveMessage" value="{{ saveMessage }}">
                <label for="saveMessageLabel">Save message</label>
        </section>
        <br>
        <section>
                <input name="input" type="submit" value="Make Cron-Job">

        </section>
    </form>

</body>
</html>