{% include 'partials/upperbody.html' %}

<a class="exit" href="{% url 'cronjob:home' %}"><strong>Quit</strong></a>

<section class="basic_layout">
    <div class="inner_layout">
        <h1>Reset Password</h1>
        <form class="inner_input" method="post" action="{% url 'cronjob:resetPassword' %}">
            {% csrf_token %}
                {{ reset_password }}
            <br>
            <input class="button" type="submit" value="Reset">
        </form>
    </div>
</section>

{% include 'partials/lowerbody.html' %}