

{% extends 'cronjob/cronbase.html' %}
{% block title %}Cron Home{% endblock %}
{% block content %}

    {% include 'cronjob/cronheader.html' %}

    <section class="basic_layout">
        <div class="center_layout">
            {% if user.is_authenticated %}
                {% ifnotequal message '' %}
                    <p>{{ message }}</p>
                {% endifnotequal %}<br><br>
                <a class="box_link" href="{% url 'cronjob:createCronJob' %}">Create new Cron Job</a>
            {% else %}
                {% ifequal message '' %}
                   <h1>This is the cron job website.</h1>
                    <p>You have to login to register your cron jobs.</p>
                {% else %}
                    {{ message }}
                {% endifequal %}
            {% endif %}

        </div>
    </section>
{% endblock %}
