{% include 'partials/upperbody.html' %}

<a class="exit" href="{% url 'cronjob:home' %}"><strong>Quit</strong></a>

<section class="basic_layout">
    <div class="inner_layout">

        <h1>Cron Login</h1>
        <form class="inner_input" method="post" action="{% url 'cronjob:userLogin' %}">
            {% csrf_token %}
                {% for login in user_login %}
                    {{ login.label }}<br>
                    {{ login }}<br>
                {% endfor %}
            <br>
            <input class="button" type="submit" value="Login">
        </form>

    </div>
</section>

{% include 'partials/lowerbody.html' %}