<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Cron</title>
    {% load filters %}
</head>
<body>

    <form  method="post" >
        {% csrf_token %}

        <section>
            <h2>Title, Address</h2>
            <input type="text" name="Title" value="{{ title }}" placeholder="Title">
            <br><br>
            <input type="url" name="URL" value="{{ url }}" placeholder="URL">
        </section>

        <section>
                {# TODO: Make it so that if not set, no input possible #}
            <h2>
                <input id="authenticate" type="checkbox" name="authenticate" value="{{ authenticate }}">
                <label for="authenticate"></label>Needs HTTP-Authentication
            </h2>
{#            {% if authenticate %}#}
                <input type="text" name="UserName" value="{{ username }}" placeholder="Username">
                <br><br>
                <input type="password" name="UserPassword" value="{{ password }}" placeholder="Password">
{#            {% endif %}#}
        </section>

        <section>

            <h2>Time to run</h2>

            <label for="minutes">
                <input type="radio" name="time" value="{{ minutes }}">Every
                <select name="time" id="minutes">
                     {% for _ in 60|intRange %}
                         <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                     {% endfor %}
                </select> minute(s)
            </label><br>

            <label for="day">
                <input id="day" type="radio" name="time" value="{{ days }}">Every day at
                <input id="day" type="time" name="time" value="11:00" required>
            </label><br>

            <label for="month">
                <input id="month" type="radio" name="time" value="{{ month }}">Every month
                <select name="time" id="month">
                    {% for _ in 27|intRange %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}.</option>
                    {% endfor %}
                </select> at
                <input id="month" type="time" name="time" value="{{ time }}">
            </label><br>

            <label for="userDefined">
                <input id="userDefined" type="radio" name="time" value="{{ specific }}">User defined
            </label>
        </section>

        <section>
            <h2>Message</h2>
            <div>
                <input type="checkbox" id="failedJobs" name="failedJobs" value="{{ failedJobs }}">
                <label for="failedJobs">Failed Jobs</label>
            </div>
            <div>
                <input type="checkbox" id="successfulJobs" name="successfulJobs" value="{{ successfulJobs }}">
                <label for="successfulJobs">Successful Jobs</label>
            </div>
            <div>
                <input type="checkbox" id="stopJob" name="stopJob" value="{{ stopJob }}">
                <label for="stopJob">Automatically stop the job if to many failures</label>
            </div>
        </section>

        <section>
            <h2>General</h2>
                <input type="checkbox" id="saveMessage" name="saveMessage" value="{{ saveMessage }}">
                <label for="saveMessage">Save message</label>
        </section>
        <br>
        <section>
                <input type="submit" value="Make Cron-Job">

        </section>
    </form>

</body>
</html>