<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Cron</title>
    {% load filters %}
</head>
<body>

    <form  method="post" >
        {% csrf_token %}

        <section>

            <h2>Title, Address</h2>
            <label>
                <input type="text" name="Title" value="{{ title }}">
            </label>
            <br>
            <label>
                <input type="url" name="URL" value="{{ url }}">
            </label>
            {#            <input type="hidden" name="createUser" value="{{ next }}" />#}

        </section>

        <section>
                {# TODO: Make it so that if not set, no input possible #}

            <h2><label>
                <input type="radio" name="authenticate" value="{{ authenticate }}">
            </label>Needs HTTP-Authentication</h2>
{#            {% if authenticate %}#}
                <label>Username<input type="text" name="UserName" value="{{ username }}"></label>
                <label>Password<input type="password" name="UserPassword" value="{{ password }}"></label>
{#            {% endif %}#}
        </section>

        <section>

            <h2>Time to run</h2>

            <label for="minutes">
                <input type="radio" name="time" value="{{ minutes }}">Every
                <select name="time" id="minutes">
                     {% for i in 60|intRange %}
                         <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                     {% endfor %}
                </select> minute(s)
            </label><br>

            <label for="day">
                <input type="radio" name="time" value="{{ days }}">Every day at
                <input type="time" id="minutes" name="time" value="11:00"  min="00:00" max="23:59" required>
            </label><br>

            <label>
                <input type="radio" name="time" value="{{ month }}">Every month at

            </label><br>

            <label>
                <input type="radio" name="time" value="{{ specific }}">User specific
            </label>
        </section>

        <section>
            <h2>Message</h2>
            <label>
                <input type="text">
            </label>
        </section>

        <section>
            <h2>General</h2>
            <label>
                <input type="text">
            </label>
        </section>
        <section>
            <input type="submit" value="Make Cron-Job">
        </section>
    </form>

</body>
</html>